CONFIG_TELECHIPS_VPU_DRV=m
# CONFIG_VDEC_CNT_2 is not set
# CONFIG_ENC_NO_SUPPORT is not set
# CONFIG_VIDEO_TELECHIPS_VOUT is not set
# CONFIG_VIDEO_DISPLAY_BY_VSYNC_INT is not set
# CONFIG_VIDEO_DISPLAY_SWAP_VPU_FRAME is not set
