CONFIG_DRM_TELECHIPS=y
CONFIG_DRM_TELECHIPS_DP=y
# CONFIG_DRM_PANEL_DPV14_TELECHIPS is not set
# CONFIG_DRM_PANEL_MAX968XX is not set
CONFIG_DRM_TELECHIPS_SKIP_RESTORE_FBDEV=y
CONFIG_DRM_TELECHIPS_VIOC=y
CONFIG_DRM_TELECHIPS_KEEP_LOGO=y
CONFIG_DRM_TELECHIPS_LCD=y
# CONFIG_DRM_TELECHIPS_DUMMY_DEV is not set
CONFIG_DRM_TELECHIPS_EXT=y
CONFIG_DRM_TELECHIPS_THIRD=y
CONFIG_DRM_TELECHIPS_FOURTH=y
# CONFIG_DRM_DRV_DEBUG is not set
CONFIG_TELECHIPS_DP_DRIVER_V1_4=y
CONFIG_TELECHIPS_DSI_DRIVER_V2=y
