CONFIG_TELECHIPS_VIOC_LOW_API=y
CONFIG_VIOC_VIQE=y
CONFIG_TELECHIPS_VIQE=y
CONFIG_TELECHIPS_G2D=y
CONFIG_TELECHIPS_MISC=y
CONFIG_TELECHIPS_SCALER=y
CONFIG_TELECHIPS_OVERLAY=y
CONFIG_TELECHIPS_WDMA=y
CONFIG_TELECHIPS_WMIXER=y
CONFIG_TELECHIPS_LUT_DRV=y
CONFIG_TELECHIPS_LUT_3D_DRV=y
CONFIG_VIDEO_TELECHIPS_VOUT=y
# CONFIG_VIDEO_DISPLAY_BY_VSYNC_INT is not set
# CONFIG_VIDEO_DISPLAY_SWAP_VPU_FRAME is not set
